<app-topnavbar></app-topnavbar>

<div class="global">
    <h3>My Profile</h3>
<div class="fone">
    <div class="div-one">
        <div class="pict">
            <img style="width: 150px; height: 150px" src="{{image}}" alt="">
        </div>
        <div class="info" style="margin-left: 10%;">
            <div >
                <h2 style="width:max-content">{{ profile?.name }}</h2>
                <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <span>({{profile?.reviews}}K Reviews)</span>
        </div>
    </div>


</div>

<div class="boxes">
    <div class="products box">
        <p><strong>Products</strong></p>
        <!-- <br> -->
        <p>{{profile?.products}}</p>

    </div>
    <div class="followers box">
        <p><strong>Followers</strong></p>
        <!-- <br> -->
        <p>{{profile?.followers}}</p>
    </div>
</div>

<div class="cont">
    <p class="contact-details">Contact Details</p>
    <div class="field">
        <p class="key">Email Id: </p>
        <p class="val">{{profile?.email}}</p>
    </div>
    <div class="field">
        <p class="key">Contact Number: </p>
        <p class="val">{{profile?.phone}}</p>
    </div>
    <div class="field">
        <p class="key">Date Of Birth: </p>
        <p class="val">{{profile?.dateofbirth}}</p>
    </div>
</div>

</div>
<app-mypostedproduct>
</app-mypostedproduct>


<!-- <app-reports>

</app-reports> -->

