.container{
  text-align: center;
  align-items: center;
  margin-top: 10%;
}
.login-form {
  margin-top: 50px;
}

.login-card {
  width: 300px;
}

.mat-form-field {
  width: 100%;
}
/* Center the login form horizontally */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  width: 100%;
}

.login-button {
  width: 100%;
}
