<div class="sidebar">
    <ul style="margin-bottom: 0px;">
      <li class="back"><a routerLink="/back">Back</a></li>

      <li><a (click)="logout()" href="login">logout</a></li>

      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/notification">Notification</a></li>
      <!-- <li><a routerLink="/messenger">Messenger</a></li> -->
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/wishlist">Wishlist</a></li>
      <li><a routerLink="/post">post</a></li>
      <li><a routerLink="/myorders">My Orders</a></li>
      
    </ul>

    <div class="adv" style="background-color: green; height: 100%; margin-top: 0px">
        <p style="margin-top: 0px;font-weight: 900; font-size: 21px">Download Our Mobile App</p>
        <div class="pict">
            <img class="left-image" style="width: 100px;" src="
            https://s3-alpha-sig.figma.com/img/8619/a87f/0c3ffeb0b6622dfd9a1cff5d2ff3adf7?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MA7MHoGi8kD2xaB7gqs-23I4SbFFVwWifgEnyT6BWtSVtSLgM67NZ4cWqMvo6yU2l3A9dKJ1OSwFWwc4lxzCy5nRDurKo339SNL8wchtHXD2rHIrDwP2zdj6L1W3n9vCvydYs~cn6Z4zzyvyJWacMSdN7Enr1TI7tkMId82UwXOy0ztsrk90OLxl~Q5cJopFUqYQrICGBw1VEwcGRpmk2LFBoOODQE3rPK6fnVpSLLYhNC1~wVQSqh5ZnohWPPM475NTE5Ch0TEIxRFrO1RXC376llP0ii2UC3F-7k6AfxddccreEdeiQS9JONQ-88Ng2pBLTZbN6P69KksLgR685A__"
            alt="">
            <img class="right-image" style="width: 60px;"
            src="https://s3-alpha-sig.figma.com/img/e86b/9f77/dc87516d35f03b1e82bae8c4e3a8a775?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aHPaHQ6WO2N~57QNWTuEGSg142ujgoFB~6jTbq1g7rrx2theIq8WCYB-XfMNlmZE-DMu-19~z9~6y8xrSw~4ZmAl33zoAExWoL2cNO~gFLVKoMJixB3M5PZoMTl55Cz-wYZTZzeuMaLvexpJUKaTRoN4ejKltW~VVoBwm1TUYoVSE6ccWKiTJniAdhutRgK75ryuNGnIJPCuju3o4kuElWXl2j~VABYFjZjJuAkPBh7Zo0DpkTk4jRNpOWTGlk579TYGg64bm74NJUBHBD5XOyx7UrDPf9IS81SgN~0TzRHgBvNVTfQ58ybqZ-l7~TKoolCgC5DY~Qy4j9zSKEeItQ__"
            alt="">
        </div>
    </div>

  </div>
