<app-topnavbar></app-topnavbar>

<!-- <app-navbar></app-navbar> -->
<div class="form-container">
  <form class="form-group">
    <mat-form-field class="full-width">
      <mat-label>Task Name</mat-label>
      <input matInput placeholder="Enter task name" [(ngModel)]="product.name" name="task-name" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Task Category</mat-label>
      <input matInput placeholder="Enter task category name" [(ngModel)]="product.category" name="task-category"
        required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter description" [(ngModel)]="product.description" name="task-description"
        required></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Since</mat-label>
      <input matInput placeholder="Enter date" [(ngModel)]="product.since" name="date"
        required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Set Price</mat-label>
      <input matInput placeholder="Enter set price" [(ngModel)]="product.price" name="task-setprice" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Enter location" [(ngModel)]="product.loc" name="task-location" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Image URL</mat-label>
      <input matInput placeholder="Enter Image URL" [(ngModel)]="product.image" name="task-image" required>
    </mat-form-field>

    <div class="input-group">
      <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
    </div>
  </form>
</div>


