/* product-info.component.css */

/* Style for the form container */
.form-container {
  position: relative;
  top: 150px;
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto;
}

/* Style for form groups */
.form-group {
  margin-bottom: 20px;
}

/* Style for input groups */
.input-group {
  margin-bottom: 20px;
}

/* Style for form controls */
.form-control {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #686565;
}

/* Style for textareas */
textarea.form-control {
  resize: vertical;
}

/* Style for date inputs */
input[type="date"].form-input {
  width: 100%;
  padding: 2%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #7e7373;
}

/* Hide the calendar picker indicator */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Hide the inner spin button for date inputs */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Style for the submit button */
.submit-button {
  background-color: blue; /* Change to desired color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
