
<div class="wish-list">
    
    <div class=".flex-item" *ngFor="let product of wishlist; index as i">    
        <app-ticket class="flex-item"
            [isLiked]="false"
            [id]="product.id"
            [productname]="product.name"
            [productimage]="func(i)"
            [productprice]="product.price"
            [location]="product.loc"
            [since]="product.since"
            [category]="product.category"
            [producdescription]="product.description"
            [sellerEmail]="product.sellerEmail"
            [wisherEmail]="product.wisherEmail"
        >
        </app-ticket>
    </div>
    
</div>
