<!-- contact-form.component.html -->
<app-topnavbar></app-topnavbar>
<!-- contact-form.component.html -->
<div class="center-container">
  <mat-card class="contact-card">
    <h1>Contact us</h1>
    <form class="contact-form" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" [(ngModel)]="name" name="name" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Enter your message" [(ngModel)]="message" name="message" required></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
  </mat-card>
</div>
