<!-- <app-search-bar></app-search-bar> -->
<app-topnavbar></app-topnavbar>
<!-- <div class="categories">
<nav>
  <ul>
    <li><a (click)="filter('Technology')">Technologies</a></li>
    <li><a (click)="filter('animal')">Animals</a></li>
    <li><a (click)="filter('cars')">Cars</a></li>
    <li><a (click)="filter('Electronics')">Electronics</a></li>
  </ul>
</nav>
</div>

<div class="wish-list">

  <div class=".flex-item" *ngFor="let product of wishlist; index as i">
      <app-ticket class="flex-item"
          [productname]="product.name"
          [id]="product.id"
          [productimage]="func(i)"
          [productprice]="product.price"
          [location]="product.loc"
          [since]="product.since"
          [category]="product.category"
          [producdescription]="product.description"
          [sellerEmail]="product.sellerEmail"
          [wisherEmail]="product.wisherEmail"
          [order]="false"
      >
      </app-ticket>
      <button (click)="buyOrder(i)">buy</button>
  </div>

</div> -->




<body>
  <div class="product-list">
    <div class="product-card" *ngFor="let product of wishlist; index as i">
      <img src="{{product.image}}" alt="Herschel backpack in dark blue">
      <div class="product-info">
        <span class="category">{{product.category}}</span>
        <h2 class="product-title">{{product.name}} <span class="badge new">New arrival</span></h2>
        <p>{{product.description}}</p>
        <p class="price">{{product.price}}</p>
        <div class="rating">
          <span>★★★★★</span> <span class="rating-count">0</span>
        </div>
        <div class="buttons">
          <button class="add-to-cart" (click)="buyOrder(i)">Buy</button>
          <button class="wishlist">Wishlist</button>
        </div>
      </div>
    </div>

  </div>
<app-footer></app-footer>
</body>



