<!-- <app-search-bar></app-search-bar> -->
<app-topnavbar></app-topnavbar>
<div class="categories">
<nav>
  <ul>
    <li><a (click)="filter('Technology')">Technologies</a></li>
    <li><a (click)="filter('animal')">Animals</a></li>
    <li><a (click)="filter('cars')">Cars</a></li>
    <li><a (click)="filter('Electronics')">Electronics</a></li>
  </ul>
</nav>
</div>

<div class="wish-list">

  <div class=".flex-item" *ngFor="let product of wishlist; index as i">
      <app-ticket class="flex-item"
          [productname]="product.name"
          [id]="product.id"
          [productimage]="func(i)"
          [productprice]="product.price"
          [location]="product.loc"
          [since]="product.since"
          [category]="product.category"
          [producdescription]="product.description"
          [sellerEmail]="product.sellerEmail"
          [wisherEmail]="product.wisherEmail"
          [order]="false"
      >
      </app-ticket>
      <button (click)="buyOrder(i)">buy</button>
  </div>

</div>


<!-- <div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white border rounded" *ngFor="let product of wishlist; index as i">
        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
            src="{{product.image}}"></div>
        <div class="col-md-6 mt-1">
          <h5>{{product.name}}</h5>
          <div class="d-flex flex-row">
            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i>
              </div><span>{{product.price}}</span></div>
          <div class="mt-1 mb-1 spec-1">
            <span>Unique design</span>
            <span class="dot"></span><span>{{product.category}}<br></span>
          </div>
          <p class="text-justify text-truncate para mb-0">{{product.description}}<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <div class="d-flex flex-row align-items-center">
            <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
          </div>
          <h6 class="text-success">Free shipping</h6>
          <div class="d-flex flex-column mt-4">
            <button class="btn btn-primary btn-sm" type="button" (click)="buyOrder(i)">Buy</button>
            <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
        </div>
      </div>

    </div>
  </div>
</div> -->

<!-- <app-footer></app-footer> -->
